.App {
  height: 600px;
  width: 600px;
  padding: 20px;
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dp-base-white: #ffffff;
  --dp-base-200: #FAFAFA;
  --dp-base-300: #F2F2F2;
  --dp-base-400: #AFAFAF;
  --dp-base-500: #888888;

  --dp-accent-300: #F2F6FF;
  --dp-accent-500: #3369FF;
}
