.App {
  height: 600px;
  width: 600px;
  padding: 20px;
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --base-white: #ffffff;
  --base-black: #000000;
  --base-200: #FAFAFA;
  --base-300: #F2F2F2;
  --base-400: #AFAFAF;
  --base-500: #888888;

  --accent-300: #EFF6F2;
  --accent-400: #F2FFEC;
  --accent-500: #058373;
  --accent-600: #056458;
  --accent-700: #113228;
}
